<script type="text/javascript">
    RED.nodes.registerType('upload-file-smb',{
            category: 'function',
            color: '#e89262',
            defaults: {
                name: {value:""},
                source: {value:'', required:false},
                destiny: {value:'', required:false},
                folder: {value:'', required:true},
                username: {value:"",required:true},
                password: {value:"",required:true},
                domain: {value:"",required:true}
            },
            inputs:1,
            outputs:1,
            icon: "file-in.png",
            label: function() {
                return this.name||"upload-file-smb";
        }
    });
</script>

<script type="text/html" data-template-name="upload-file-smb">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-folder"><i class="fa fa-file"></i> Source file</label>
        <input type="text" id="node-input-source" placeholder="Source file">
    </div>
    <div class="form-row">
        <label for="node-input-folder"><i class="fa fa-file"></i> Destiny file</label>
        <input type="text" id="node-input-destiny" placeholder="Destiny file">
    </div>
    <div class="form-row">
        <label for="node-input-folder"><i class="fa fa-folder-open-o"></i> SMB folder address where upload the file</label>
        <input type="text" id="node-input-folder" placeholder="SMB Folder">
    </div>
    <div class="form-row">
        <label for="node-input-username"><i class="fa fa-user-o"></i> SMB Username</label>
        <input type="text" id="node-input-username" placeholder="SMB Username">
    </div>
    <div class="form-row">
        <label for="node-input-password"><i class="fa fa-key"></i> SMB Password</label>
        <input type="password" id="node-input-password" placeholder="SMB Password">
    </div>
    <div class="form-row">
        <label for="node-input-domain"><i class="fa fa-globe"></i> SMB Domain</label>
        <input type="text" id="node-input-domain" placeholder="SMB Domain">
    </div>
</script>

<script type="text/html" data-help-name="upload-file-smb">
    <p>A simple node for upload files to smb folder</p>
</script>

